<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="center center"
  fxLayoutAlign="center start"
  style="height: 100vh;"
  fxLayoutGap="20px;"
>
  <mat-card fxFlex="1 1 auto">
    <mat-card-title>Users Scheduled Today</mat-card-title>
    <mat-card-subtitle>You Have User Scheduled Today</mat-card-subtitle>
    <mat-card-content>
      <h1>2</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 auto">
    <mat-card-title>Scheduled This Month</mat-card-title>
    <mat-card-subtitle>You Have Users Scheduled This Month</mat-card-subtitle>
    <mat-card-content>
      <h1>2</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 auto">
    <mat-card-title>New Request</mat-card-title>
    <mat-card-subtitle>You Have Requests</mat-card-subtitle>
    <mat-card-content fxLayout="row" fxLayoutAlign="center">
        <h1>2</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>
</div>
